.customerForm {
    margin-top: 100px;
    margin-left: 180px;
}
.customer {
    width: 42%;
    display: inline-block;
    margin-left: 10px;
}
.date {
    margin-left: 20px;
}
.inputValidate {
    margin-left: 20px;
    width:42%;
    margin-top: 10px;
    margin-left: 34%;
}
.btnProcessed{
    margin-left: 50px;
    margin-top: 20px;
}